{% extends "base.html" %}
{% block body %}
<a href="{{ url_for('customer')}}" class="button">戻る</a>
<div class="customer_update">
    <h3>お客様データ変更</h3>
    <form method="post" action="/customer/update/{{ customer.customer_id }}" size="2">
        お客様名:<input type="text" name="customer_name" value="{{customer.customer_name}}" required>
        電話番号:<input type="tel" name="telephon_number"
        pattern="[0-9]{3}-[0-9]{3,4}-[0-9]{4}"   placeholder="123-4567-8901" value="{{customer.telephon_number}}" required>
        <input type="submit" value="変更を保存" class="button">
    </form>
</div>
{% endblock %}