{% extends "base.html" %}
{% block body %}
    <a href="{{ url_for('create_contract') }}" class="button">新規作成</a>
    <a href="{{ url_for('product') }}" class="button">商品一覧へ</a>
    <h2>全データ合計:金額・顧客件数</h2>
    <ul>
        <div>
            <p>{{ money_total }} </p>
            <p>{{ customer_total }}</p>
        </div>
    </ul>
    <ul>
        {% for Period_list in Period_lists %}
            <a href="{{ url_for('list', period_id=Period_list.period_id) }}">{{ Period_list.period_id }}</a>
        {% endfor %}
    </ul>
{% endblock %}
