{% extends "base.html" %}
{% block body %}
    <a href="/" class="button">戻る</a>
    <h1>{{ period }}の顧客リスト</h1>
    <ul>
        {% for list in period_by_contract_list %}
        <div>
            <p>{{ list }}</p>
        </div>
        {% endfor %}
        {% for list in groupby_customer_money %}
        <div>
            <p>顧客id{{ list.customer_id }} {{ list.customer_name }}さん 電話番号---{{ list.telephon_number }} 金額{{ list.subtotal }}</p>
        </div>
        {% endfor %}
    </ul>
    <h3>リスト合計：金額・顧客件数</h3>
    <p>{{ period_money_total }}円</p>
    <p>{{ period_customer_total }}人</p>
{% endblock %}