<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>customer_list</title>
</head>
<body>
    <p>customer_list.html</p>
    <h1>顧客一覧</h1>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>顧客ID</th>
                <th>顧客名</th>
                <th>電話番号</th>
            </tr>
        </thead>
        <tbody>
            <!-- ここに繰り返し処理を入れる -->
            {% for customer in customers %}
            <tr>
                <!-- 顧客ID -->
                <td>{{ customer.id }}</td>
                <!-- 顧客名 -->
                <td>{{ customer.customer_name }}</td>
                <!-- 電話番号 -->
                <td>{{ customer.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href=" {{url_for('home_page')}} ">ホーム画面に戻る</a></p>
</body>
</html>