{% extends "base.html" %}
{% block body %}
    <a href="{{ url_for('create_contract') }}" class="button">新規作成</a>
    <a href="{{ url_for('product') }}" class="button">商品一覧へ</a>
    <h2>全データ合計:金額・顧客件数</h2>
    <ul>
        <div>
            <p>{{ money_customer_total.money_total }} </p>
            <p>{{ money_customer_total.customer_total }}</p>
        </div>
    </ul>
    <ul>
        {% for period_list in period_lists %}
        <div>
            <p>{{ period_list.period_id }}</p>
            <form method="post" action="{{ url_for('list', period_id=period_id) }}">
                <button type="submit" class="period__by_contract-botton">顧客一覧</button>
            </form>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
