{% extends "base.html" %}
{% block body %}
    <a href="{{url_for(index)}}" class="button">戻る</a>
    <h1>{{ period_id }}の顧客リスト</h1>
    <ul>
        {% for list in period_by_contract_list %}
        <div>
            <p>{{ list.contract_id }}</p>
            <p>{{ list.customer_id }}</p>
            <p>{{ list.customer_name }}</p>
            <p>{{ list.telephon_number }}</p>
            <p>{{ list.product_name }}</p>
            <p>{{ list.product_price }}</p>
            <p>{{ list.contract_number }}</p>
            <p>{{ list.contoract_situation }}</p>
        </div>
        {% endfor %}
        {% for list in customer_by_contract_cutomer_total %}
        <div>
            <p>{{ list.money_total }}</p>
            <p>{{ list.customer_name }}</p>
            <p>{{ list.telephon_number }}</p>
        </div>
        {% endfor %}
    </ul>
    <h1>リスト合計：金額・顧客件数</h1>
    <p>{{ period_by_contract_cutomer_total.product_price * period_by_contract_cutomer_total.contract_number}}</p>
    <p>{{ func.count(distinct(Contract.customer_id)) }}</p>
{% endblock %}