<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>product_list</title>
</head>
<body>
    <p>product_list.html</p>
    <h1>商品情報一覧</h1>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>商品価格</th>
            </tr>
        </thead>
        <tbody>
            <!-- ここに繰り返し処理を入れる -->
            {% for product in products %}
            <tr>
                <!-- 商品ID -->
                <td>{{ product.id }}</td>
                <!-- 商品名 -->
                <td>{{ product.product_name }}</td>
                <!-- 商品価格 -->
                <td>{{ product.product_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href=" {{url_for('home_page')}} ">ホーム画面に戻る</a></p>
</body>
</html>